BODY {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: normal; MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; visiblity: visible
}
P {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px
}
UL {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px
}
TD {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px
}
LI {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px
}
.default {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px
}
.fieldesc {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px
}
.fieldentry {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px
}
.newblue {
	COLOR: #000066; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
B {
	FONT-WEIGHT: bold
}
I {
	FONT-STYLE: italic
}
.white {
	COLOR: #ffffff
}
LI.white {
	COLOR: #ffffff
}
UL {
	LIST-STYLE: disc url(/images/bullet.gif)
}
.smalltext {
	FONT-SIZE: 11px
}
.smallgrey {
	COLOR: #666666; FONT-SIZE: 11px
}
.floatleft {
	DISPLAY: block; FLOAT: left; TEXT-ALIGN: left
}
.sup {
	COLOR: #000000; FONT-SIZE: x-small; FONT-WEIGHT: 500; VERTICAL-ALIGN: super
}
TD.blackbg {
	BACKGROUND-COLOR: #000000
}
A:link {
	COLOR: #0000cc
}
A:visited {
	COLOR: #9933cc
}
A:active {
	COLOR: #339900
}
A:hover {
	COLOR: #009900
}
A.white:link {
	COLOR: #ffffff
}
A.white:visited {
	COLOR: #ffffff
}
A.small:link {
	FONT-SIZE: 11px
}
A.small:visited {
	FONT-SIZE: 11px
}
H1 {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 18px; FONT-WEIGHT: 700
}
.h1 {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 18px; FONT-WEIGHT: 700
}
H2 {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 16px; FONT-WEIGHT: 700
}
.h2 {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 16px; FONT-WEIGHT: 700
}
H3 {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
.h3 {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
TH {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
H4 {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: 600
}
.h4 {
	COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: 600
}
.formbody {
	BACKGROUND-COLOR: #fbfee6; BORDER-BOTTOM: 1px ridge; BORDER-LEFT: 1px ridge; BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 11px; FONT-WEIGHT: normal; visiblity: visible
}
FORM.sub {
	FONT-SIZE: 10pt; WIDTH: 120px
}
INPUT.sub {
	FONT-SIZE: 10pt; WIDTH: 120px
}
OPTION.sub {
	FONT-SIZE: 10pt; WIDTH: 120px
}
INPUT.subshort {
	WIDTH: auto
}
INPUT.sublong {
	FONT-SIZE: 10pt; WIDTH: 180px
}
.required {
	COLOR: #cc3333; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 16px
}
.fieldrequired {
	COLOR: #cc3333; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 16px
}
.actionerror {
	COLOR: #ff0000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.entryerror {
	COLOR: #ff0000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.fielderror {
	COLOR: #ff0000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.qa {
	COLOR: #0060ba; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
.results {
	BACKGROUND-COLOR: #ffffcc; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; layer-background-color: #FFFFCC
}
.fieldlabel {
	FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: normal
}
TD.nav {
	BACKGROUND-IMAGE: url(/images/backgrnd.gif)
}
.entry {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: 500; layer-background-color: #ffffff
}
.value {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: 500; layer-background-color: #ffffff
}
.label {
	BACKGROUND-COLOR: #f1f1f1; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: normal; TEXT-ALIGN: left; layer-background-color: #f1f1f1
}
.hilitepub {
	BACKGROUND-COLOR: #b0d1ef; COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 11px; TEXT-ALIGN: left; layer-background-color: #B0D1EF
}
.khint {
	BACKGROUND-COLOR: #fcdd2f; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: 500; TEXT-ALIGN: center; layer-background-color: #FCDD2F
}
.buttonbar {
	BACKGROUND-COLOR: #5f61b0; COLOR: #ffffff; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; layer-background-color: #5F61B0
}
.even {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; layer-background-color: #FFFFFF
}
.odd {
	BACKGROUND-COLOR: #dfebe0; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; layer-background-color: #DFEBE0
}
.action {
	BACKGROUND-COLOR: #ffffcc; COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "CLEAN", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: 600; layer-background-color: #FFFFCC
}
.heading {
	BACKGROUND-COLOR: #5f61b0; COLOR: #ffffff; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 14px; FONT-WEIGHT: bolder; TEXT-ALIGN: center; layer-background-color: #5B6CA3
}
.heading1 {
	BACKGROUND-COLOR: #5f61b0; COLOR: #ffffff; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 14px; FONT-WEIGHT: bolder; TEXT-ALIGN: center; layer-background-color: #5B6CA3
}
.heading2 {
	BACKGROUND-COLOR: #7b8cc6; COLOR: #ffffff; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 14px; FONT-WEIGHT: bolder; layer-background-color: #7B8CC6
}
.heading3 {
	BACKGROUND-COLOR: #becff6; COLOR: #000000; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: bold; layer-background-color: #BECFF6
}
.heading4 {
	BACKGROUND-COLOR: #000000; COLOR: #ffffff; FONT-FAMILY: "ARIAL", "HELVETICA", "NIMBUS SANS L", "sans-serif"; FONT-SIZE: 13px; FONT-WEIGHT: bold; layer-background-color: #000000
}
